<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Lista de Cursos
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#portugues">Português</a>
      <a class="dropdown-item" href="#matematica">Matemática</a>
      <a class="dropdown-item" href="#biologia">Biologia</a>
      <a class="dropdown-item" href="#fisica">Física</a>
      <a class="dropdown-item" href="#historia">História</a>
      <a class="dropdown-item" href="#quimica">Química</a>
    </div>
</div>
